DATABASE_URL=postgresql+asyncpg://ecomuser:ecompass@localhost:5433/ecomdb
REDIS_URL=redis://localhost:6380/0
SECRET_KEY=your_super_secret_key_change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CELERY_BROKER_URL=redis://localhost:6380/1
CELERY_RESULT_BACKEND=redis://localhost:6380/2